@media only screen and (max-width: 500px) {
  html {
    color: var(--primary-green);
    font-family: "Geologica", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  header {
    padding: 5px;
    flex-direction: column;
  }

  header > * {
    margin-bottom: 5px;
  }

  header > div > span {
    font-size: 0;
  }

  header > div > span > a {
    font-size: 40px;
    padding: 0;
  }

  header > div > ul > li > a {
    padding: 15px;
  }

  ul {
    text-align: center;
    justify-content: space-evenly;
  }

  div.btn {
    width: 88%;
    margin: auto 40px;
  }

  /* Main */ /* hero-main */
  section.hero-main {
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  div.center-hero__img {
    flex-direction: column;
  }
  div.center .center-hero__exp ul {
    width: 380;
    padding: 10px;
  }

  div.center-hero__exp {
    padding-left: 5px;
  }

  .skill {
    /* justify-content: center; */
    align-items: center;
  }

  .skill ol {
    width: 80%;
    padding: 0;
  }
  .contact input,
  textarea {
    width: 90%;
  }
}
